@font-face {
    font-family: 'Marcellus';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/marcellus/v13/wEO_EBrOk8hQLDvIAF81VvoK_kgXiQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --backgroundColor: hsl(0, 13%, 92%);
    --navigationText: hsl(24, 60%, 23%);
    --titleColor: hsl(0, 0%, 0%);
    --footerColor: hsl(24, 60%, 23%);
    --otherTextColor: hsl(24, 60%, 23%);
    --buttonColor: grey;
    --boxShadow: grey;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 10px;
    font-family: 'Marcellus', serif;
}

body {
    background-color: var(--backgroundColor);
}

/*Icon and navigation*/
nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a {
    color: var(--navigationText);
    font-size: 2em;
    text-decoration: none;
}

nav li {
    display: inline;
    margin-right: 50px;
}

nav ul {
    margin-top: 15px;
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 33px;
    border: solid 3px black;
    box-shadow: 5px 5px 5px var(--boxShadow);
}

/*Hero Section*/
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-bottom: 150px;
    line-height: 1.5em;
}

.hero li{
    display: inline;
    line-height: 2em;
    font-size: 1.5em;
    margin-right: 10px;
    color: var(--otherTextColor);
}

.hero p {
    padding-top: 30px;
    font-size: 1.5em;
    line-height: 1.5em;
}

.hero img {
    width: 300px;
    height: auto;
    border-radius: 150px;
    box-shadow: 10px 10px 10px var(--boxShadow);
    margin-left: 10px;
}

h1 {
    font-size: 4em;
    color: var(--titleColor);
}

span {
    font-weight: 600;
    color: var(--otherTextColor);
}

/*Work showing Wordpress, YouTube, and two other pages*/
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.wordpress img, 
.youtube img, 
.club img, 
.musashi img {
    width: 300px;
    height: 200px;
    border: solid 4px black;
    box-shadow: 5px 5px 5px 5px var(--boxShadow);

}
/*Button for work section images*/
p > a{
    position: static;
    z-index: 10;
    padding: 16px;
    border: solid 2px black;
    box-shadow: 5px 5px 5px var(--boxShadow);
    background-color: var(--buttonColor);
    color: whitesmoke;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 100px;
}

/*Footer contact information phone and email with Github and Linkedin links.*/
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 2em;
    margin: 50px;
}

h3 {
    display: inline;
    color: var(--footerColor);
}
/*Mobile Devices Media queries 480px*/
@media screen and (max-width: 480px) {
    nav a {
    font-size: 2.5em;
    margin: 25px;
    }

    .hero {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    margin: 50px auto;
    }

    h1 {
    font-size: 3em;
    line-height: 1em;
    margin-left: 25px;
    }

    .work {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 40px 40px;
    }

    footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    }
}

/*iPad Devices Media queries 768px*/
@media screen and (max-width: 768px) {

}

/*Laptop Devices Media queries 1024px*/
@media screen and (max-width: 1024px) {
    
}

/*Desktop Devices Media queries 1200px*/
@media screen and (max-width: 1200px) {
    
}