
:root {
    --backgroundColor: hsl(0, 13%, 92%);
    --navigationText: hsl(24, 60%, 23%);
    --titleColor: hsl(0, 0%, 0%);
    --footerColor: hsl(24, 60%, 23%);
    --otherTextColor: hsl(24, 60%, 23%);
    --boxShadow: grey;
}

body {
    background-color: var(--backgroundColor);
}

/*Icon and navigation*/
nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: var(--navigationText);
    font-size: 2em;
    text-decoration: none;
}

nav li {
    display: inline;
    margin-right: 50px;
}

nav ul {
    margin-top: 15px;
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 33px;
    border: solid 3px black;
    box-shadow: 5px 5px 5px var(--boxShadow);
}

/*Hero Section*/
.hero {
    margin-top: 250px;
    line-height: 1.5em;
}

.hero li{
    display: inline;
    line-height: 2em;
    font-size: 1.5em;
    margin-right: 10px;
    color: var(--otherTextColor);
}

.hero p {
    padding-top: 30px;
    font-size: 1.5em;
}

.hero img {
    width: 300px;
    height: auto;
    border-radius: 150px;
    box-shadow: 10px 10px 10px var(--boxShadow);
}

h1 {
    font-size: 4em;
    color: var(--titleColor);
}

/*Work showing Wordpress, YouTube, and two other pages*/
.wordpress img{
    width: 500px;
    height: 300px;
    border: solid 4px black;
    box-shadow: 5px 5px var(--boxShadow);
}

.youtube img {
    width: 500px;
    height: 300px;
    border: solid 4px black;
    box-shadow: 5px 5px 5px 5px var(--boxShadow);
}

/*Footer contact information phone and email with Github and Linkedin links.*/
footer {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    margin: 20px;
}

h3 {
    display: inline;
    color: var(--footerColor);
}